boddy {
    background-color: black;
}
h1 {
    text-align: center;color: aquamarine;
}
p{
    text-align: center;color: black<!DOCTYPE html>
    <html lang="en" dir="ltr">
      <head>
        <meta charset="utf-8">
        <title></title>
      </head>
      <body>
        
      </body>
    </html>
    ;
}